<div class="top-wrapper">
  <div class="top-inner-text">
    <div class="title">Apparelpro</div>
    <div class="subtitle">アパレル販売員の為の新人教育マニュアル</div>
    <div class="description">
      進捗管理グラフで学習状況の見える化<br>
      質問・コメント投稿機能で円滑なコミュニュケーションを図れます
    </div>
    <div class="links">
      <p><a href="/login">ログインはこちら</a></p>
      <p><a href="/register">ユーザー登録はこちらから</a></p>
    </div>
  </div>
</div>