<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="" content="width=device-width, initial-scale=1.0">
  <title>Footer Example</title>
  <style>
    .footer {
      background-color: #fff0f5;
      padding: 20px 0;
      text-align: center;
      color: #a9a9a9;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .footer a {
      color: #a9a9a9;
      text-decoration: none;
      margin: 0 10px;
    }

    .footer a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <!-- Footerを追加 -->
  <footer class="footer">
    <%= link_to 'お問い合わせ', new_contact_path %>
    <%= link_to '利用規約', terms_path %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path %>
    <div>Copyright © 2024. Apparelpro</div>
  </footer>
</body>
</html>