<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="" content="width=device-width, initial-scale=1.0">
  <title>Apparelpro</title>
  <style>
    .navbar {
      background-color: #fffafa; 
    }

    .navbar-brand {
      font-size: 30px;
      margin-left: 30px;
      color: #a9a9a9;
    }

    .navbar-subtitle {
      font-size: 15px;
      color: #a9a9a9;
      margin-left: 10px;
    }

    .link {
      margin-right: 20px;
      color: #a9a9a9;
      text-decoration: none;
    }

    .link:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <header>
    <nav class='navbar navbar-expand-lg navigation'>
      <a href="<%= root_path %>" class='navbar-brand'>Apparelpro</a>
      <span class='navbar-subtitle'>アパレル販売員の為の新人教育マニュアル</span>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto main-nav align-items-center'></ul>
        <a href='#' class='link'>新規登録</a>
        <a href="<%= login_path %>" class='link'>ログイン</a>
      </div>
    </nav>
  </header>
</body>
</html>
