<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name=""="width=device-width, initial-scale=1.0">
  <title>Apparelpro</title>
  <style>
    .navbar {
      background-color: #fffafa; 
    }

    .navbar-brand {
      font-size: 30px; /* 文字の大きさを調整 */
      margin-left: 30px; /* もう少し左寄りにする */
      color: #a9a9a9;
    }

    .navbar-subtitle {
      font-size: 15px;
      color: #a9a9a9;
      margin-left: 10px; /* 文字の間隔を調整 */
    }

    .login-link {
      margin-right: 40px; /* もう少し右寄りにする */
      color: #a9a9a9; 
      text-decoration: none; /* 下線を消す */
    }

    .login-link:hover {
      text-decoration: underline; /* ホバー時に下線を表示 */
    }
  </style>
</head>
<body>
  <header>
    <nav class='navbar navbar-expand-lg navigation'>
      <!-- 左上に文字を入れる -->
      <span class='navbar-brand'>Apparelpro</span>
      <span class='navbar-subtitle'>アパレル販売員の為の新人マニュアル</span>
      
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarSupportedContent'>
        <ul class='navbar-nav ms-auto main-nav align-items-center'>
        </ul>
        <!-- 右上にログインリンクを作成 -->
        <a href='#' class='login-link'>ログイン</a>
      </div>
    </nav>
  </header>
</body>
</html>