<div class="manual-list">
    <h1 class="manual-title">マニュアル一覧</h1>
    <div class="manual-container">
        <% @categories.each do |manual| %>
            <div class="manual-item">
                <%= link_to manual.category, manual_path(category: manual.category), class: "btn btn-primary category-button" %>
            </div>
        <% end %>
    </div>
</div>