<div class="manual-list">
<h1>マニュアル一覧</h1>
<% @categories.each do |manual| %>
    <%= link_to manual.category, manual_path(category: manual.category), class: "btn btn-primary category-button" %>
<% end %>
</div>