<div class="manual-list">
<% @manuals.each do |manual| %>
<h2><%= manual.title %></h2>
<p><%= simple_format(manual.content) %></p>
<% end %>
<%= link_to '完了', manuals_path, class: "btn btn-secondary" %>
</div>