.question-detail-title {
    margin-top: 18px;
    text-align: center;
    color: #777777;
    font-size: 14px;
}

.comment-textarea {
    font-size: 10px;
    padding: 6px;
    margin-bottom: 15px;
}

.form-label {
    font-size: 1rem; /* フォントサイズを大きく */
    margin-bottom: 10px; /* ラベルとフォームの距離をあける */
}

.btn-submit {
    // ボタンのスタイルを追加
    font-size: 14px;
    padding: 6px 10px;
}
