.notice {
    background-color: #dff0d8 !important;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0;
}

.alert {
    background-color: #f2dede !important;
    color: #a94442;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.user-registration-page-alert {
    margin-top: -30px; /* ヘッダーからの距離を調整 */
}