.like-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: none; /* 背景をなくす */
    border: none; /* ボーダーをなくす */
    color: black; /* 初期の色を黒に */
    font-size: 24px; /* ハートのサイズを指定 */
    cursor: pointer; /* マウスカーソルをポインターに */
}

.like-button-click {
    color: white; /* クリック後のハートの色を白に変更 */
    background-color: red; /* クリック後の背景色を赤に変更 */
    border-radius: 5px; /* ボタンの角を丸くするオプション */
}

@media (max-width: 768px) {
    .like-button {
        bottom: 15px; /* ボタンの下部の余白を縮小 */
        right: 15px; /* ボタンの右部の余白を縮小 */
        font-size: 28px; /* ハートのサイズを少し大きくしてタッチしやすく */
    }

    .like-button-click {
        font-size: 28px; /* クリック後のハートのサイズも大きくする */
    }
}