.login-background {
    background-image: url('mediamodifier.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 50px 20px 100px;
}

.login-form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* 角を少し丸くする */
}

.center-text {
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.field {
    margin-bottom: 30px;
}

.field label {
    display: block;
    margin-bottom: -10px;
    font-weight: bold;
}

.field input[type="email"],
.field input[type="password"],
.field input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
}

.field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.field-checkbox input[type="checkbox"] {
    width: auto;
    margin-right: 10px; /* チェックボックスとラベルの間の距離 */
}

.actions input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #87cefa;
    color: #fff;
    border: none;
    cursor: pointer;
}

.actions input[type="submit"]:hover {
    background-color: #5f9ea0;
}

.extra-links {
    margin-top: 20px; /* ログインボタンとリンクの距離を調整 */
    text-align: center; /* テキストを中央に配置 */
}

@media (max-width: 768px) {
    .login-form-container {
        padding: 10px;
        max-width: 90%;
        margin-top: 0;
    }

    .center-text {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .field input[type="email"],
    .field input[type="password"] {
        padding: 8px;
    }

    .actions input[type="submit"] {
        padding: 8px;
    }

    .extra-links {
        margin-top: 5px;
    }
}