.manual-details {
    width: 100%;
    min-height: calc(100vh - 80px); /* フッターの高さを差し引いた最小高さ */
    background-position: center;
    background-size: cover;
    overflow-y: auto; /* 縦方向にスクロールを許可 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px 100px; /* フッターと重ならないように下に十分な余白 */
    box-sizing: border-box; /* パディングを含めて幅を計算 */
}

.manual-show-title {
    font-size: 23px; /* タイトルのフォントサイズ */
    line-height: 1.2; /* 行の高さ */
    margin-bottom: 10px; /* タイトルの下の余白 */
}

.manual-show-content {
    font-size: 5px;
    line-height: 1.0;
    margin-bottom: 20px;
    width: 100%; /* 幅を100%に設定して、内容を整える */
    max-width: 600px; /* 最大幅を設定して読みやすく */
}
