.manual-list {
    width: 100%;
    min-height: calc(100vh - 80px); /* 最小高さを設定 */
    overflow-y: auto;                  /* 縦のオーバーフローを自動に設定 */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px 100px; /* フッターと重ならないように下に十分な余白 */
    box-sizing: border-box; /* パディングを含めて幅を計算 */
}

.manual-title {
    padding: 7px;
    color: #696969;
    border-radius: 10px;
}

.manual-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.manual-item {
    margin: 14px;
}

.category-button {
    margin-top: 25px;
    font-size: 1.4em;
    background-color: #ffffff;
    color: #696969;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 120px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.category-button:hover {
    background-color: #f9f9f9;
    color: #000000;
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}