.manual-list {
    background-image: url('rue-s-3fl4czp80eg-unsplash.jpg');
    width: 100%;
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.manual-list h1 {
    margin: -50;
    padding: 10px;
    color: #696969;
    border-radius: 10px;
}

.category-button {
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.4);
    color: #696969;
    margin: 10px;
    padding: 10px 0; /* ボタンのパディングを調整する */
    border-radius: 5px; /* ボタンの角を丸くする */
    text-decoration: none; /* ボタンのテキスト装飾を削除する */
    border: 2px solid #9acd32; /* 黄緑のふちを追加する */
    outline: none; /* フォーカスリングを削除する */
    box-shadow: none; /* ボタンのシャドウを削除する */
    width: 400px; /* ボタンの幅を統一する */
    text-align: center; /* テキストを中央揃えにする */
}

.category-button:hover {
    background-color: #f5fffa !important;
    color: #696969;
}