.signup-background {
    background-image: url('mediamodifier.jpg'); /* 背景画像の設定 */
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* 背景を固定する */
    width: 100%;
    height: calc(100vh - 134px);
    display: flex;
    flex-direction: column; /* 縦に要素を配置 */
    align-items: center; /* 水平方向の中央揃え */
    justify-content: center; /* 垂直方向の中央揃え */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 内部の余白や枠線のサイズを全体のサイズに含める */
}

.signup-form-container {
    border: 1px solid #ccc; /* 枠線の色と太さ */
    border-radius: 5px; /* 角を丸くする */
    padding: 4px; /* 内側の余白 */
    max-width: 110px; /* 最大幅 */
    margin: 0 auto; /* 中央に配置 */
    background-color: #f9f9f9; /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.center-text {
    margin-top: 0px;
    margin-bottom: 3px;
    text-align: center;
}

.field {
    margin-bottom: 20px;
}

.field label {
    display: block;
    margin-bottom: -10px;
    font-weight: bold;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="checkbox"] {
    width: 100%;
    padding: 3px;
    border: 1px solid #ced4da;
}

.field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.field-checkbox input[type="checkbox"] {
    width: auto;
    margin-right: 10px; /* チェックボックスとラベルの間の距離 */
}

.actions input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #87cefa;
    color: #fff;
    border: none;
    cursor: pointer;
}

.actions input[type="submit"]:hover {
    background-color: #5f9ea0;
}

@media (max-width: 768px) {
    .signup-form-container {
        max-width: 85%; /* 最大幅を少し狭く */
        padding: 8px; /* 内側の余白を少し減らす */
    }

    .field input[type="text"],
    .field input[type="email"],
    .field input[type="password"] {
        padding: 8px; /* スマホ用にパディングを少し減らす */
    }

    .actions input[type="submit"] {
        padding: 10px; /* ボタンのパディングを少し減らす */
    }
}