.top-wrapper {
  background-image: url('ting-IUyNg1VYMTQ-unsplash.jpg');
  width: 100%;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-size: cover;
}

.top-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 4rem; /* Apparelproの文字を大きく */
  color: #ffe4c4;
}

.subtitle {
  font-size: 1.5rem; /* アパレル販売員の為の新人教育マニュアルの文字を小さく */
  margin-top: 10px;
  color: #ffe4c4;
}

.description {
  margin-top: 60px; /* 間隔を追加 */
  font-size: 1.2rem; /* フォントサイズを設定 */
  line-height: 1.5; /* 行間を設定 */
  color: #ffffff;
}

.button {
  margin-top: 60px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #b0e0e6;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #87ceeb;
}

@media (max-width: 768px) {
  .top-wrapper {
    height: calc(100vh - 100px); /* スマホ用に高さ調整 */
  }

  .title {
    font-size: 2.5rem; /* スマホ用にフォントサイズを小さく */
  }

  .subtitle {
    font-size: 1.2rem; /* スマホ用にフォントサイズを小さく */
  }

  .description {
    font-size: 1rem; /* スマホ用にフォントサイズを小さく */
    margin-top: 30px; /* スマホ用に間隔を調整 */
  }

  .button {
    padding: 8px 16px; /* スマホ用にボタンのパディングを調整 */
    font-size: 14px; /* スマホ用にフォントサイズを小さく */
  }
}