.top-wrapper {
  background-image: url('ting-IUyNg1VYMTQ-unsplash.jpg');
  width: 100%;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-size: cover;
}

.top-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.top-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 4rem; /* Apparelproの文字を大きく */
  color: #fffacd;
}

.subtitle {
  font-size: 1.5rem; /* アパレル販売員の為の新人教育マニュアルの文字を小さく */
  margin-top: 10px;
  color: #fffacd;
}

.description {
  margin-top: 40px; /* 間隔を追加 */
  font-size: 1.2rem; /* フォントサイズを設定 */
  line-height: 1.5; /* 行間を設定 */
  color: #ffffff;
}

.links {
  margin-top: 20px; /* アパレル販売員の為の新人教育マニュアルとログインはこちらの間隔を追加 */
}

.links a {
  color: #ff6347; /* リンクの色を設定 */
}

@media screen and (max-width: 767px) {
  .title {
      font-size: 2.5rem;
      line-height: 4;
      letter-spacing: 2px;
  }

  .subtitle {
      font-size: 1rem;
      line-height: 2.5;
      letter-spacing: 2px;
  }

  .description {
      margin-top: 10px; /* モバイル用の間隔を追加 */
      font-size: 1rem; /* フォントサイズを設定 */
  }

  .links {
      margin-top: 10px; /* モバイル用の間隔を追加 */
  }
}