.top-wrapper {
  background-image: url('ting-IUyNg1VYMTQ-unsplash.jpg');
  width: 100%;
  min-height: calc(100vh - 80px);
  position: relative;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
}

.top-inner-text {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.title {
  font-size: 4rem; /* Apparelproの文字を大きく */
  color: #ffe4c4;
}

.subtitle {
  font-size: 1.5rem; /* アパレル販売員の為の新人教育マニュアルの文字を小さく */
  margin-top: 10px;
  color: #ffe4c4;
}

.description {
  margin-top: 60px; /* 間隔を追加 */
  font-size: 1.2rem; /* フォントサイズを設定 */
  line-height: 1.5; /* 行間を設定 */
  color: #ffffff;
}

.button {
  margin-top: 60px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #b0e0e6;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #87ceeb;
}

@media (max-width: 768px) {
  .top-wrapper {
    min-height: calc(100vh - 80px); /* 高さを調整 */
    padding: 20px; /* パディングを追加 */
    overflow-y: auto; /* スクロールを許可 */
  }

  .top-inner-text {
    top: 40%; /* 縦位置を調整 */
    font-size: 1.5rem; /* テキストのサイズを調整して読みやすく */
  }

  .title {
    font-size: 2.5rem; /* タイトルのサイズを小さく */
  }

  .subtitle {
    font-size: 1.2rem; /* サブタイトルのサイズを小さく */
    margin-top: 5px; /* マージンを調整 */
  }

  .description {
    margin-top: 30px; /* 間隔を調整 */
    font-size: 1rem; /* フォントサイズを小さく */
  }

  .button {
    margin-top: 30px; /* ボタンの間隔を調整 */
    font-size: 14px; /* ボタンのフォントサイズを調整 */
    padding: 8px 16px; /* パディングを調整 */
  }
}